<!DOCTYPE html>
<html ng-app="cameraApp">
  <head>
    <meta charset="utf-8">
    <title>Camera View</title>
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css">
  </head>
  <body ng-controller="CatologCtrl as cameraListController">
    <div class="container">
      <header>
        <h1>Camera Shop</h1>
      </header>
      <main ng-controller="CartCtrl as cartController">
        <div class="row">
          <div class="col s12 m7">
            <div class="row">
              <div class="col s8 input-field">
                <input type="text" placeholder="Search here" ng-model="cameraListController.filterText">
              </div>
              <div class="col s4 input-field">
                <select ng-model="cameraListController.sort">
                  <option value="name">Name</option>
                  <option value="-rating">Rating</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col s12 m5">
            <div class="card blue-grey cartBox">
              <div class="card-content white-text">
                <span class="card-title">Your Cart</span>
                <div ng-repeat="item in cartController.cartItems">
                  <div>{{item.quantity}} - {{item.name}} - {{item.price | currency}}  <button class="delete btn-floating btn-small waves-effect waves-light #2D8DB2" type="button" ng-click="cartController.removeFromCart(item)">X</button></div>
                </div>
              </div>
              <div class="card-action">
                <div ng-show="cartController.subtotal > 0">Subtotal: {{cartController.subtotal | currency}}</div>
                <div ng-show="cartController.subtotal > 0">Tax: {{cartController.subtotal * 0.08 | currency}}</div>
                <div ng-show="cartController.subtotal > 0">Total: {{cartController.subtotal * 0.08 + cartController.subtotal | currency}}</div>
                <a href="#">Checkout</a>
              </div>
            </div>
          </div>
        </div>
        <section class="row shopCameras">
          <div class="eachCamera col s12 m5" ng-repeat="camera in cameraListController.cameras | orderBy:cameraListController.sort | filter:cameraListController.filterText:false">
            <div class="onSale" ng-show="camera.onSale">ON SALE!</div>
            <img ng-src="{{camera.image}}" alt="cool camera, bro">
            <h5>{{camera.name}}</h5>
            <div>{{camera.rating | rating}}</div>
            <div>{{camera.price | currency}}</div>
            <button type="button" ng-click="cartController.addToCart(camera)">Addeth to Thine Cart</button>
          </div>
        </section>
      </main>
    </div>
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>

  </body>
</html>
